@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
    @include flexbox(unset, center, center);
    padding: 0 $spacing-sm 4.25rem;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    &__form {
        @include flexbox(column, unset, unset);
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-med $spacing-sm;
        border-radius: 3rem;
        background-color: $transparent-color-white-50;
        flex: 1 0 calc(20rem - (2 * $spacing-sm));
        max-width: 25rem;

        @include tablet {
            padding: calc(2 * $spacing-med) $spacing-lg $spacing-med;
        }
    }

    &__title {
        @include font-header;
    }

    &__button-container {
        @include flexbox(column, unset, unset);
        gap: $spacing-sm;
        margin-top: $spacing-xsm;

        @include tablet {
            flex-direction: row-reverse;
        }
    }

    &__link {
        text-decoration: none;
    }
}
