@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.register {
    @include flexbox(column, center, center);
    padding: $spacing-sm;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    @include tablet {
        padding: $spacing-lg $spacing-xlg;
    }

    @include desktop {
        padding: $spacing-xlg $spacing-xxlg;
    }

    &__form {
        @include flexbox(column, unset, unset);
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-med $spacing-sm;
        border-radius: 3rem;
        width: 100%;
        background-color: $transparent-color-white-50;
        overflow: scroll;

        @include tablet {
            padding: calc(2 * $spacing-med) $spacing-lg $spacing-med;
            max-width: 66.5rem;
        }

        @include desktop {
            padding: calc(2 * $spacing-lg) $spacing-xlg $spacing-lg;
        }
    }

    &__title {
        @include font-header;
    }

    &__container {
        @include flexbox(column, unset, unset);
        gap: $spacing-sm;

        @include tablet {
            @include flexbox(row, unset, unset);
            gap: $spacing-xlg;
        }
    }

    &__button-container {
        @include flexbox(column, unset, unset);
        gap: $spacing-sm;
        margin-top: $spacing-xsm;

        @include tablet {
            flex-direction: row-reverse;
        }
    }

    &__link {
        text-decoration: none;
    }
}
