@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
    @include flexbox(unset, center, center);
    border: none;
    border-radius: 1rem;
    padding: $spacing-xsm $spacing-sm;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(103%);
    }

    @include tablet {
        width: 10rem;
    }

    &--primary {
        background-color: $primary-color-black;
        @include font-body($primary-color-grey);
    }

    &--secondary {
        background: none;
        @include font-body;
    }

    &--reverse-primary {
        background-color: $primary-color-main;
        @include font-body;
    }

    &--reverse-secondary {
        @include font-body($primary-color-grey);
    }
}
