@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
    @include flexbox(column, space-between, unset);
    padding: $spacing-sm;
    width: 100%;
    height: 100%;
    background: $primary-color-main;
    overflow: auto;
    position: relative;

    &__title {
        @include font-header;
    }

    &__circle {
        position: absolute;
        top: 3.5rem;
        right: 13rem;
        border-radius: 50%;
        width: 8.25rem;
        aspect-ratio: 1 / 1;
        background-color: $transparent-color-white-25;
    }

    &__add {
        @include flexbox(column, center, center);
        border-radius: 50%;
        width: 2.5rem;
        aspect-ratio: 1 / 1;
        background-color: $transparent-color-white-25;
        cursor: pointer;
    }

    &__icon {
        width: 1.25rem;
        filter: invert(8%) sepia(0%) saturate(14%) hue-rotate(215deg) brightness(104%) contrast(88%);
    }

    &__countdown {
        position: absolute;
        top: 0.5rem;
        right: -1rem;
        @include flexbox(column, center, center);
        gap: $spacing-xsm;
        border-radius: 50%;
        padding: $spacing-lg $spacing-lg;
        width: 16rem;
        aspect-ratio: 1 / 1;
        background-color: $transparent-color-highlight-50;
        text-decoration: none;
    }

    &__countdown-text {
        @include font-header;
        text-align: center;
    }

    &__countdown-title {
        @include font-subheader;
        text-align: center;
    }

    &__trips-container {
        @include flexbox(column, unset, unset);
        gap: $spacing-sm;
        border-radius: 3rem;
        width: 100%;
    }

    &__trips-title {
        @include font-subheader;
    }

    &__trips-list {
        justify-self: center;
        @include flexbox(column, unset, unset);
        height: 15.125rem;
        gap: $spacing-sm;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
    }

    &__trips-item {
        border-radius: 3rem;
        padding: $spacing-sm $spacing-med;
        background-color: $transparent-color-white-50;
        scroll-snap-align: start;
    }

    &__trips-name {
        @include font-label;
        text-align: center;
    }

    &__trips-text {
        @include font-body;
        text-align: center;
    }
}
