@use "./variables" as *;

// BREAKPOINTS
@mixin tablet {
    @media (min-width: ($breakpoint-min-tablet)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($breakpoint-min-desktop)) {
        @content;
    }
}

// FLEXBOX
@mixin flexbox($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// FONT STYLES
@mixin font-header($color: $primary-color-black, $font-weight: $font-weight-bold) {
    color: $color;
    font-size: $font-size-large;
    font-weight: $font-weight;
    line-height: 2rem;

    @include tablet {
        font-size: $font-size-dt-large;
        line-height: 2.75rem;
    }
}

@mixin font-body($color: $primary-color-black, $font-weight: $font-weight-regular) {
    color: $color;
    font-size: $font-size-body;
    font-weight: $font-weight;
    line-height: 1.125rem;

    @include tablet {
        font-size: $font-size-dt-body;
        line-height: 1.375rem;
    }
}

@mixin font-label($color: $primary-color-black, $font-weight: $font-weight-demi) {
    color: $color;
    font-size: $font-size-body;
    font-weight: $font-weight;
    line-height: 1.25rem;

    @include tablet {
        font-size: $font-size-dt-small;
    }
}
