@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.itinerary {
    padding: $spacing-sm;
    width: 100vw;
    height: 100vh;
    background: $primary-color-grey;

    @include tablet {
        padding: 0 $spacing-lg;
    }

    @include desktop {
        padding: $spacing-lg $spacing-xxlg;
    }
}
