@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    @include flexbox(unset, space-between, flex-start);
    padding: $spacing-sm;
    width: 100vw;

    @include tablet {
        @include flexbox(unset, space-between, center);
        padding: $spacing-lg $spacing-xlg;
    }

    @include desktop {
        padding: $spacing-xlg $spacing-xxlg;
    }

    &__logo-container {
        @include flexbox(unset, center, center);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $transparent-color-black-10;
    }

    &__logo-full {
        width: 7.625rem;

        @include tablet {
            width: 10rem;
        }

        @include desktop {
            width: 12rem;
        }
    }

    &__logo-icon {
        width: 1.75rem;
    }

    &__avatar-container {
        @include flexbox(unset, center, flex-end);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $transparent-color-black-10;
        overflow: hidden;
    }

    &__avatar {
        margin-bottom: -2px;
        height: 2rem;
    }
}
