@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item-form-input {
    @include flexbox(column, unset, unset);
    gap: $spacing-sm;

    &__container {
        @include flexbox(column, unset, unset);
        gap: $spacing-xsm;
    }

    &__label {
        @include font-label($primary-color-grey);
    }

    &__input {
        border: none;
        border-radius: 3.125rem;
        padding: $spacing-xsm $spacing-sm;
        background-color: $transparent-color-white-50;
        font-family: "Poppins", Arial, sans-serif;
        @include font-body;
        outline: none;

        &--text {
        }

        &--textarea {
            border-radius: 3.125rem;
            resize: none;
        }

        &--select {
        }
    }
}
